body{
    margin: 0;
    background-color: #E3e3e3;
}
.navbar{
    background-color: lightcyan;
    height: 50px;
    position: sticky;
    top: -1px;
}
.buttonNavi{
    width:100px;
    height:50px;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
}
.body{
    height:600px
}
.left{
width: 29%;
height:600px;
float: left;
background-color: lightpink;
}

.right{
width:70%;
height:600px;
float: left;
background-color: lightskyblue;
}
.floatimage{
    float:left;
    padding: 30px;
    width: 400px;
}      